{% extends 'base.html' %}

{{ super() }}
{% block content %}
<div>
    <image href=""/>
    <h3>Мэр города Лето-City</h3>
    <h4>Лучников Антон</h4>
</div>
<div>
    <image href=""/>
    <h3>Глава Департамента Технического и Инновационного Развития</h3>
    <h4>Якименко Владимир</h4>
</div>
<div>
    <image href=""/>
    <h3>Глава Департамента Экономического Развития</h3>
    <h4>Белоусова Виктория</h4>
</div>
<div>
    <image href=""/>
    <h3>Главa Департамента Экономического Развития</h3>
    <h4>Косова Таисья</h4>
</div>
<div>
    <image href=""/>
    <h3>Глава Центра Занятости</h3>
    <h4>Насибуллина Юлия</h4>
</div>
<div>
    <image href=""/>
    <h3>Глава Банка</h3>
    <h4>Ильина София</h4>
</div>
<div>
    <image href=""/>
    <h3>Глава Налоговой Службы</h3>
    <h4>Подлевская Анна</h4>
</div>
<div>
    <image href=""/>
    <h3>Глава Пресс-Центра</h3>
    <h4>Яковлева Мария</h4>
</div>
<div>
    <image href=""/>
    <h3>Глава Пресс-Центра</h3>
    <h4>Пушкарева Полина</h4>
</div>
<div>
    <image href=""/>
    <h3>Глава Департамента Досуга и Отдыха</h3>
    <h4>Барашкова Анастасия</h4>
</div>
<div>
    <image href=""/>
    <h3>Глава Департамента Досуга и Отдыха</h3>
    <h4>Удовик София</h4>
</div>
<div>
    <image href=""/>
    <h3>Глава МФЦ</h3>
    <h4>Михайлова Алиса</h4>
</div>
<div>
    <image href=""/>
    <h3>Генерал Полиции</h3>
    <h4>Наумов Максим</h4>
</div>
<div>
    <image href=""/>
    <h3>Глава Городского Суда</h3>
    <h4>Елфимова Анна</h4>
</div>
<div>
    <image href=""/>
    <h3>Глава Департамента Здравоохранения</h3>
    <h4>Шаньгина Дарья</h4>
</div>
<div>
    <image href=""/>
    <h3>Глава Департамента Образования</h3>
    <h4>Цецохо София</h4>
</div>
<div>
    <image href=""/>
    <h3>Глава Департамента Спорта</h3>
    <h4>Деревянко Родион</h4>
</div>
<div>
    <image href=""/>
    <h3>Глава Департамента Спорта</h3>
    <h4>Сафонов Федор</h4>
</div>
{% endblock %}